.forum-container {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background-color: #2b2b2b;
  padding: 1em;
  border-radius: 8px;
  width:80%;
  margin: 0 auto;
}

.forum-header {
  margin-bottom: 1.5em;
}

.forum-list-section,
.post-list-section {
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px dashed #4ea8de;
  padding: 1em;
}

h3 {
  color: #4ea8de;
  font-weight: bold;
}

.forum-list,
.post-list {
  padding-left: 0;
  list-style: none;
}

.forum-item,
.post-item {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border-top: 1px solid #4ea8de;
  padding: 0.5em 0;
}

.forum-item:first-child,
.post-item:first-child {
  border-top: none;
}

.forum-link,
.post-link {
  color: #4ea8de;
  font-weight: bold;
  text-decoration: none;
}

.forum-link:hover,
.post-link:hover {
  text-decoration: underline;
}

.forum-info-container,
.post-info-container {
  flex: 1;
}

.forum-stats,
.post-stats {
  display: flex;
  flex-direction: column; 
  margin-left: 20px;
  color: #d3d3d3; 
  font-size: 0.9em;
}

.forum-info,
.post-info {
  color: #d3d3d3;
  font-size: 0.9em;
}