.post-details-container {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background-color: #2b2b2b;
  padding: 1em;
  border-radius: 8px;
  width:80%;
  margin: 0 auto;
}

h2 {
  color: #4ea8de;
}

.post-info {
  color: #d3d3d3;
  font-size: 0.9em;
}

.post-body {
  background-color: #3b3b3b;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.comments-section {
  margin-top: 1.5em;
  overflow: auto;
}

.comment-item {
  background-color: #3b3b3b;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow: auto;
}

.comment-item p {
  margin: 0;
  color: #d3d3d3;
}

.comment-timestamp {
  font-size: 0.8em;
  color: #b0b0b0;
  margin-top: 0.5em;
}
