.registerUser-details-container {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background-color: #2b2b2b;
  padding: 1em;
  border-radius: 8px;
  width:80%;
  margin: 0 auto;
}

h2 {
  color: #4ea8de;
}

.registerUser-info {
  color: #d3d3d3;
  font-size: 0.9em;
}

.registerUser-body {
  background-color: #3b3b3b;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.registerUser-section {
  margin-top: 1.5em;
  overflow: auto;
}

.registerUserCell {
  width: 200em;
}
