@page "/users"
@rendermode InteractiveServer
@using ClientApp.Entities

<PageTitle>Users</PageTitle>

<h3>ViewUsers</h3>

<ul>
    @foreach (var user in users)
    {
    <li>
        <!--<input type="checkbox" @bind="todo.IsDone" />-->
        <input @bind="user.User_id" />
    </li>
    }
</ul>

@code {
    private List<User> users = new();
    private List<UserProfile> userProfiles = new();
    //private string? newTodo;
    
    /*private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }*/
}